
@mixin btn() {
    background: black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .btn-1 {
    padding: 0.8rem calc(100% / 48);
    font-size: 0.6rem;
  }
  
  .btn-2 {
    padding: 0.8rem calc(100% / 24);
    font-size: 0.9rem;
  }
  
  .btn-3 {
    padding: 0.8rem calc(100% / 12);
    font-size: 1.2rem;
  }
  
  .btn-red {
    @include btn();
    background: red;
  }
  
  .btn-green {
    @include btn();
    background: green;
  }
  
  .btn-blue {
    @include btn();
    background: blue;
  }
  
  .btn-orange {
    @include btn();
    background: orange;
  }
  
  .btn-purple {
    @include btn();
    background: purple;
  }
  
  .btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .btn:active {
    border: blue solid 1px;
  }