.text-muted {
  font-size: 1rem;
    color: gray;
  }
  
  .text-primary {
    font-size: 1rem;
    color: rgb(0, 111, 139);
  }
  
  .text-success {
    font-size: 1rem;
    color: rgb(0, 132, 9);
  }
  
  .text-info {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background: black;
  }
  
  .text-warning {
    font-size: 1rem;
    color: rgb(196, 183, 0);
    background: black;
  }
  
  .text-error {
    font-size: 1rem;
    color: red;
  }